@charset "UTF-8";

/* --------------------------------------------------*/
/* 一番大きい共通設定
/* --------------------------------------------------*/
body {
    margin: 0px;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* --------------------------------------------------*/
/* Hero
/* --------------------------------------------------*/
.header {
/*	position: relative;*/
/*	height: calc(100vh - 58px);*/
	height: 70px;
    position: fixed;
    z-index: 9999;
    width: 100%;
/*    overflow: hidden;*/
    background: black;
    color: aliceblue;
}


.article {
    width: 70%
}

.side-area {
    align-content: left;
}

.wrap {
    padding: 0 70px;
}

.wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.module--content {
    padding: 150px 0;
}

.module--content.main {
    background-color: aliceblue;
}

.module--content.greenyellow {
    background-color: greenyellow;
}

.module--h1-title {
    font-size: 105px;
    margin: 120px 0 100px 0;
    line-height: 1.4;
    text-align: left;
    font-family: 'futura-pt',sans-serif;
    font-weight: 600;
}

.module--text {
    font-size: 16px;
    line-height: 2.2em;
}

.module--text.bottom-2x {
    padding-bottom: 80px;
}

.module--content.redbull{
	background-color: blue;
}
